html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: $font-ti;
  font-size: 1rem;
  color: $dark-color;
}

body {
  min-height: 100%;
  font-family: $font-ti;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.3px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.primary-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $dark-color;
  &.disabled {
    pointer-events: none;
  }
}
h1 {
  font-family: $font-ti;
  font-size: 35px;
  color: #fefefe;
  text-transform: uppercase;
}
h2 {
  font-family: $font-ti;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 0.6px;
  color: #fffeee;
  @include sm-only {
    font-size: 28px;
  }
}
h3 {
  font-family: $font-ti;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #fefefe;
}
p {
  font-family: $font-ti;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #fffeee;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-left: 0;
  padding-right: 0;
}
.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.join {
  border-radius: 0;
  border-width: 0;
  background-image: linear-gradient(73deg, #4f4f4f, #3b3b3b 48%, #000000);
  font-family: $font-ti;
  padding: 14px 17px;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  margin-left: 20px;
}

.animated {
  animation-duration: 0.6s;
  z-index: 9;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.inline-flex {
  display: inline-flex;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
// .row {
//   @include xs-only {
//     margin-right: -10px;
//   }
// }

.upperCase {
  text-transform: uppercase;
}

.invalid-feedback {
  font-family: $font-ti;
  font-size: 12px;
  font-weight: 300;
  color: $v2-orange;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  padding-left: 0;
  padding-right: 0;
}

#page {
  background-color: white;
  position: relative;
  min-height: 900px;
  flex: 1;
  display: flex;
  flex-direction: column;
  .body {
    flex: 1;
  }

  .header {
    .header-title {
      font-family: $font-ti;
      font-size: 30px;
      text-align: left;
      font-weight: bold;
      color: $v2-heading;
    }
  }
}

.section {
  position: relative;
  overflow: hidden;
}

.primary-layout {
  background: url($image-path+"bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  opacity: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.section {
  padding-top: 80px;
}

.underline {
  width: 54px;
  height: 3px;
  background-color: $v2-orange;
  margin-top: 12px;
  margin-bottom: 12px;
}
.particles-container {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.display-flex {
  display: flex;
}
