.airdrop-follow-tab {
  label {
    img {
      height: 37px;
      width: 37px;
    }
  }
  .form-group {
    max-width: 700px;
  }
  .desc {
    margin-top: 20px;
    font-family: $font-ti;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: $v2-heading;
    a {
      color: $v2-blue-light;
      font-weight: 600;
    }
  }
  .waiting {
    .button-left {
      i {
        color: $theme-primary;
      }
    }
    .button-text {
      color: $theme-primary;
    }
  }
}
