#business {
  // background-color: white;
  .bs-items {
    margin-top: 64px;
    .item {
      margin-bottom: 37px;
      img {
        width: 269px;
      }
    }
  }
  .section-token {
    margin-top: 86px;
  }
}
