.countdown {
  justify-content: center;
  margin: 32px 0;
  .countdown-col {
    display: inline-flex;
    .countdown-col-element {
      display: inline-block;
      display: flex;
      flex-direction: column;
      .unit {
        margin-top: 13px;
        font-size: 14px;
        color: #fffeee;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
      }
    }
    .colon {
      color: #fffeee;
      margin: 8px 9px 0 9px;
      font-size: 30px;
      margin-top: 20px;
    }
  }
  .countdown-digit {
    font-family: $font-ti;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #fffeee;
    padding: 16px 18px;
    background-color: rgba(0, 0, 0, 0.9);
    @include sm-only {
      padding: 16px 10px;
    }
  }
}
