#howitwork {
  .contents {
    // display: flex;
    // flex: 1;
    // flex-direction: column;
    // align-items: center;
    // max-width: 1000px;
    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 54px;
      .how-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        background-color: $v2-nav-bg;
        min-height: 352px;
        justify-content: center;
        .how-content-title {
          font-size: 22px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: left;
          text-transform: uppercase;
          color: #fefefe;
        }
        .how-content-text {
          text-align: justify;
          color: #fefefe;
        }
      }
      .how-image {
        background-color: #5e90e3;
        flex: 1;
        padding: 10px;
        // max-height: 352px;
        object-fit: fill;
        img {
          height: auto;
          max-width: 100%;
        }
      }
    }

    .swiper-pagination-bullet {
      background-color: white;
    }
    @include md-only {
      .row {
        flex-direction: column;
        align-items: center;
      }
    }
    @include sm-only {
      .row {
        padding: 10px;
        .how-content {
          padding: 10px;
        }
      }
    }
  }
}
