#howitwork {
  background-color: white;
  .contents {
    .row {
      &.reserve {
        .content {
          .position {
            align-items: flex-end;
            img {
              margin-right: 60px;
            }
            .number {
              top: 0;
              right: 0;
              left: auto;
            }
          }
        }
      }
      align-items: center;
      margin-top: 54px;
      .content {
        .position {
          height: 170px;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          img {
            height: 170px;
            width: 150px;
            margin-left: 60px;
          }
          .number {
            font-family: $font-family-nunito;
            font-size: 100px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 4.8px;
            text-align: left;
            color: $theme-primary;
            position: absolute;
            text-decoration: underline;
            top: 0;
            left: 0;
          }
        }
        .title {
          font-size: 22px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: left;
          text-transform: uppercase;
          margin-top: 14px;
          margin-bottom: 17px;
        }
        .text {
          text-align: justify;
        }
      }
      img {
        width: 300px;
      }
    }
    @include sm-only {
      .reserve {
        flex-direction: column-reverse;
      }
      .content {
        margin-bottom: 20px;
      }
    }
  }
}
