#presale {
  // background: url($image-path+"bg-1-section@2x.png") no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // position: relative;
  // padding-top: 80px;
  .container {
    padding-top: 0;
  }
  h2 {
    // font-size: 16px;
  }
  .section-sub,
  h3 {
    color: white;
    font-size: 16px;
    font-weight: 300;
  }
  button {
    width: 350px;
    @include sm-only {
      width: 95%;
    }
  }
}
