#roadmap {
  // background: url($image-path+"bg-6-section@2x.png") no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // position: relative;

  .section-heading {
    margin-bottom: 25px;
  }
  .align-items-end {
    align-items: flex-end !important;
  }
  .main-timeline {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    &:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: " ";
      display: block;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: rgb(213, 213, 213);
      background: -moz-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
      );
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(30, 87, 153, 1)),
        color-stop(100%, rgba(125, 185, 232, 1))
      );
      background: -webkit-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
      );
      background: -o-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
      );
      background: -ms-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
      );
    }
    .timeline {
      @include md-only {
        margin-bottom: 20px;
      }
      width: 50%;
      clear: both;
      position: relative;
      &:before,
      :after {
        content: "";
        display: block;
        clear: both;
      }
      &:nth-child(even) {
        &:before {
          right: auto;
          left: -8px;
        }
      }

      &:nth-child(2n) {
        float: right;
        text-align: left;

        .timeline-icon {
          right: 0;
          left: -8px;
        }
        .timeline-content {
          float: right;
          text-align: left;
          .date {
            text-align: left;
            margin-top: -5px;
          }
          &:after {
            width: 140px;
            left: 0%;
          }
        }
      }
      &.done {
        .timeline-icon {
          background-color: $brand-twitter;
          &:before {
            border-bottom: 4px solid $brand-twitter;
          }
          &:after {
            border-top: 4px solid $brand-twitter;
          }
        }
      }
      .timeline-icon {
        position: absolute;
        top: 24px;
        right: -8px;
        z-index: 1;
        width: 16px;
        height: 10px;
        position: absolute;
        background: #f0f0f0;
        margin-top: 0;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 0;
          height: 0;
          border-bottom: 4px solid #f0f0f0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          top: -4px;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 4px solid #f0f0f0;
          bottom: -4px;
        }
      }
      .timeline-content {
        width: 100%;
        padding: 0 30px;
        // background: #fff;
        text-align: left;
        float: left;
        border: 1px solid transparent;
        position: relative;
        transition: all 0.3s ease 0s;
        &:after {
          content: "";
          width: 95%;
          height: 1px;
          background: #cfcdcd;
          position: absolute;
          top: 28px;
          right: 0;
        }

        .date {
          text-align: left;
          display: block;
          font-size: 25px;
          font-weight: 600;
          color: #fefefe;
          margin: 0 0 8px;
          transition: all 0.3s ease 0s;
        }
        .title {
          font-size: 18px;
          color: #444;
          margin-top: 0;
          transition: all 0.3s ease 0s;
        }
        .description {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          line-height: 28px;
          margin-top: 8px;
        }
      }
    }
  }
  @include md-only {
    .main-timeline {
      padding-left: 20px;
      &:before {
        left: 20px;
      }

      .timeline {
        width: 100%;
        float: right;
        text-align: left;
        &:first-child {
          &:before {
            right: auto;
            left: -11px;
          }
        }
        &:nth-child(old) {
          &:before {
            right: auto;
            left: -11px;
          }
        }
        &:nth-child(2n) {
          .timeline-content {
            &:after {
              width: 140px;
            }
          }
        }
        .timeline-content {
          float: right;
          text-align: left;
          .date {
            text-align: left;
          }
          &:before {
            left: -7.3px;
          }
          &:after {
            left: 0;
            width: 140px;
          }
        }
        .timeline-icon {
          right: 0;
          left: -9px;
        }
      }
    }
  }
}
