#team {
  .inline-flex {
    display: inline-flex !important;
  }
  .animated {
    animation-fill-mode: both;
  }
  .members {
    margin-top: 30px;
    .member {
      width: 201px;
      position: relative;
      margin-bottom: 60px;
      .avatar {
        width: 201px;
        height: 180px;
        position: relative;
        img {
          width: 201px;
          height: 180px;
        }
        &:hover {
          &:before {
            content: "\f129";
            color: rgba(255, 255, 255, 0.5);
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: 30px;
            padding-top: 75px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }
      .description {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 4px;
        background-color: rgba(61, 96, 166, 0.8);
        .description-content {
          display: flex;
          height: 100%;
          flex: 1;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.3);
          color: #fefefe;
          text-align: left;
          padding: 5px;
        }
      }
      .close-member {
        position: absolute;
        z-index: 99;
        top: 10px;
        right: 10px;
        &:hover {
          text-decoration: none;
        }
        i {
          font-size: 20px;
          color: #fefefe;
        }
      }
      .info {
        position: relative;
        height: 145px;
        padding: 18px 13px;
        background-color: $v2-nav-bg;
        text-align: left;
        .name {
          font-size: 16px;
          font-weight: bold;
          color: #fefefe;
        }
        .position {
          margin-top: 8px;
          font-size: 14px;
          color: rgba(254, 254, 254, 0.8);
          line-height: 1.57;
          text-align: left;
        }

        .social {
          position: absolute;
          bottom: 0px;
          left: 13px;
          display: inline-flex;
          padding: 0;
          margin: 0;
          li {
            flex: 1;
            list-style: none;
            margin-right: 10px;
            a {
              font-size: 20px;
              color: #fefefe;
              &:link,
              :visited {
                text-decoration: none;
              }
              &:hover {
                color: $dark-color;
              }
              .fa {
                font-size: 20px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }
        }
      }
    }
  }
}

#advisor {
  .advisors {
    position: relative;
    display: flex;
    flex-direction: column;
    .advisor {
      height: 177px;
      @include sm-only {
        padding: 0 5px;
        height: 140px;
      }
      margin-bottom: 60px;
      position: relative;
      display: flex;
      flex-direction: row;
      .avatar {
        width: 155px;
        height: 177px;
        position: relative;
        img {
          width: 155px;
          height: 177px;
        }
        @include sm-only {
          width: 120px;
          height: 140px;
          img {
            width: 120px;
            height: 140px;
          }
        }
      }
      .description {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 4px;
        background-color: rgba(61, 96, 166, 0.8);
        .description-content {
          display: flex;
          height: 100%;
          flex: 1;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.3);
          color: #fefefe;
          text-align: left;
          padding: 5px;
        }
      }
      .close-member {
        position: absolute;
        z-index: 99;
        top: 10px;
        right: 10px;
        &:hover {
          text-decoration: none;
        }
        i {
          font-size: 20px;
          color: #fefefe;
        }
      }
      .info {
        width: 300px;
        position: relative;
        padding: 24px 27px;
        background-color: $v2-nav-bg;
        text-align: left;

        .wrap-name {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        .name {
          font-size: 16px;
          font-weight: bold;
          color: #fefefe;
          margin-bottom: 0;
        }
        // .description {
        //   margin-top: 10px;
        //   font-size: 16px;
        //   line-height: 1.5;
        //   color: #fefefe;
        //   text-align: left;
        // }

        .position {
          margin-top: 8px;
          font-size: 14px;
          color: rgba(254, 254, 254, 0.8);
          line-height: 1.57;
          text-align: left;
          margin-bottom: 0;
        }

        @include sm-only {
          padding: 5px 5px;
          width: 190px;
          .position {
            font-size: 13px;
          }
          .description {
            font-size: 15px;
          }
        }

        .social {
          display: inline-flex;
          margin: 0;
          li {
            flex: 1;
            list-style: none;
            margin-right: 10px;
            a {
              font-size: 20px;
              color: #fefefe;
              &:link,
              :visited {
                text-decoration: none;
              }
              &:hover {
                color: $dark-color;
              }
              .fa {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }
        }
      }
    }
  }
}
