#whitepaper {
  .whitepaper-body {
    margin-top: 139px;
    display: flex;
    @include sm-only {
      flex-direction: column-reverse;
    }
    .whitepaper-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 76px 28px;
      background-color: $v2-nav-bg;
      p {
        margin-top: 26px;
        color: #fffeee;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.88;
      }

      button {
        margin-top: 40px;
        width: 200px;
        height: 46px;
        padding: 10px 20px;
      }
    }
    .whitepaper-image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 503px;
      // height: 352px;
      background-color: rgba(0, 0, 0, 0.2);
      img {
        height: 304px;
        width: 170px;
      }
    }
  }
}
