.wrap-upload-image {
  height: 204px;
  // width: 456px;
  background-color: rgba(204, 204, 204, 0.8);
  border: 1px dashed rgba(204, 204, 204, 0.8);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .upload-init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      height: 34px;
      width: 38px;
    }
  }
  .upload-status {
    z-index: 9;
  }
  .upload-success {
    i {
      font-size: 30px;
      color: $v2-blue-light;
    }
  }
  .upload-error {
    i {
      font-size: 30px;
      color: $v2-orange;
    }
  }
  .upload-preview {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
